<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.condominiummanager">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/condo_manager_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/condo_manager_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".PrivateChat"
            android:label="@string/title_activity_private_chat"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".ChatMaintenance"
            android:label="@string/title_activity_chat_maintenance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ChatManager"
            android:label="@string/title_activity_chat_manager"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ChatTenant"
            android:label="@string/title_activity_chat_tenant"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Requests"
            android:label="@string/title_activity_requests"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".TaskTenant"
            android:label="@string/title_activity_task_tenant"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TaskList"
            android:label="@string/title_activity_task_list"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".reportEnd"
            android:label="@string/title_activity_report_end"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PaymentsTenant"
            android:label="@string/title_activity_payments_tenant"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PaymentsMaintenance"
            android:label="@string/title_activity_payments_maintenance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PaymentsManager"
            android:label="@string/title_activity_payments_manager"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ContactsTenant"
            android:label="@string/title_activity_contacts_tenant"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ContactsMaintenance"
            android:label="@string/title_activity_contacts_maintenance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProfileManager"
            android:label="@string/title_activity_profile_manager"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".profile_maintenance"
            android:label="@string/title_activity_profile_maintenance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".contacts_manager"
            android:label="@string/title_activity_contacts_manager"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".AddEvent"
            android:label="@string/title_activity_add_event"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ProfileTenant"
            android:label="@string/title_activity_profile_tenant"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Events"
            android:label="@string/title_activity_events"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Report"
            android:label="@string/title_activity_report"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Readings"
            android:label="@string/title_activity_readings"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Thankyou"
            android:label="@string/title_activity_thankyou"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Manager"
            android:label="@string/title_activity_manager"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Maintenance"
            android:label="@string/title_activity_maintenance"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Tenant"
            android:label="@string/title_activity_tenant"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="CondominiumManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>